# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df=pd.read_csv("../WeatherPy/output/cities.csv")
cities_df.head()

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Bluff,-46.6000,168.3333,34.81,79,100,2.24,NZ,1628083735
1,Nazarovo,56.0064,90.3914,62.73,94,90,1.68,RU,1628083736
2,Georgetown,5.4112,100.3354,84.88,82,20,2.30,MY,1628083736
3,Lalmohan,22.3384,90.7419,83.23,83,16,13.06,BD,1628083736
4,Barrow,71.2906,-156.7887,42.82,78,90,8.05,US,1628083737

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations= cities_df[["Lat","Long"]].astype(float)

#Convert humidity to float and store
humidity=cities_df["Humidity"].astype(float)

In [5]:
#Create a heamap layer for humidity

#Set center point and zoom level first
center_coords=(32.74, -16.93) #to center the map
fig=gmaps.figure(center=center_coords, zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=humidity,
                              dissipating=False, max_intensity=100,
                              point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [36]:
# ideal weather condition is between 70 and 90 degrees, windspeed less than 10mph,
# humidity less than 40% and cloudiness less than 5%.

ideal_weather_df=cities_df[(cities_df["Max Temp"]>70) &
                         (cities_df["Max Temp"]<90) &
                         (cities_df["Wind Speed"]<10) &
                         (cities_df["Humidity"]<20) &
                         (cities_df["Cloudiness"]<5)]
ideal_weather_df

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
213,Rundu,-17.9333,19.7667,83.59,12,2,6.73,NaN,1628083800
233,Shakawe,-18.3667,21.8500,83.53,13,1,5.88,BW,1628083811
263,Yumen,40.2833,97.2000,81.05,10,0,8.66,CN,1628083821
393,Jiuquan,39.7432,98.5174,77.45,13,1,8.48,CN,1628083869
541,Urumqi,43.8010,87.6005,86.95,18,0,6.71,CN,1628083913

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [37]:
# create new column to hold Hotel Name

ideal_weather_df['Hotel Name']=''

# reposition columns

ideal_weather_df=ideal_weather_df[["City", "Country", "Hotel Name", "Lat", "Long", "Max Temp", "Humidity", "Cloudiness",
                                 "Wind Speed", "Date"]]

ideal_weather_df

C:\Users\Samantha\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,City,Country,Hotel Name,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
213,Rundu,NaN,,-17.9333,19.7667,83.59,12,2,6.73,1628083800
233,Shakawe,BW,,-18.3667,21.8500,83.53,13,1,5.88,1628083811
263,Yumen,CN,,40.2833,97.2000,81.05,10,0,8.66,1628083821
393,Jiuquan,CN,,39.7432,98.5174,77.45,13,1,8.48,1628083869
541,Urumqi,CN,,43.8010,87.6005,86.95,18,0,6.71,1628083913

In [38]:
# find a closest hotel of each type to coordinates

#params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key,
}

# use the lat/long to identify hotels
for index,row in ideal_weather_df.iterrows():
    #get lat,lng from df
    lat=row["Lat"]
    lng=row["Long"]
    city=row["City"]
    
    #change location each iteration while leaving original params in place
    params["location"]=f"{lat},{lng}"
    
    #Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    #make request and print url
    name_address=requests.get(base_url, params=params)
    
#     print(name_address.url)
    
    #convert to jason
    name_address=name_address.json()
    
    try:
        ideal_weather_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except IndexError:
        ideal_weather_df.loc[index, "Hotel Name"] = f"**No hotel nearby**"
        print(f"No hotel nearby for {city}")
        

ideal_weather_df

No hotel nearby for Yumen

,City,Country,Hotel Name,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
213,Rundu,NaN,Tambuti Lodge,-17.9333,19.7667,83.59,12,2,6.73,1628083800
233,Shakawe,BW,Ditlhapi lodge,-18.3667,21.8500,83.53,13,1,5.88,1628083811
263,Yumen,CN,**No hotel nearby**,40.2833,97.2000,81.05,10,0,8.66,1628083821
393,Jiuquan,CN,Jiuquan Hotel,39.7432,98.5174,77.45,13,1,8.48,1628083869
541,Urumqi,CN,Sheraton Urumqi Hotel,43.8010,87.6005,86.95,18,0,6.71,1628083913

In [39]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in ideal_weather_df.iterrows()]
locations = ideal_weather_df[["Lat", "Long"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure